body {
    background: #000000;

    .AppointmentDetailsMain {

        .AppointmentForm {
    
            label {
                float: left;
                font-weight: bold;
            }
        }
    }
}